body{
    display:flex;
    margin:0;
    height:100vh;
}
.left{
    flex-basis:37%;
    float:left;
    background: rgb(255, 255, 255);
    height:100%;
    text-align:center;
    padding-top:20vh;
    background-image: url(pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-container{
    background:rgb(0, 0, 0, 0.5);
}
h1{
    color:#fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.right{
    flex-basis:67%;
    float: right;
    height:100%;
    --top: 35vh;
    --bottom: 25vh;
    --main: calc(100vh - calc(var(--top) + var(--bottom)));
}
.top{
    height: var(--top);
    background: green;
}
.main{
    height: var(--main);
}
.bottom{
    height: var(--bottom);
    background: red;
}